/*
  Mixin for the offset background
*/
@mixin offsetBackground($color) {
  background: -webkit-linear-gradient(180deg, $white $spacer*2, $color $spacer*2);
  background: -o-linear-gradient(180deg, $white $spacer*2, $color $spacer*2);
  background: -moz-linear-gradient(180deg, $white $spacer*2, $color $spacer*2);
  background: linear-gradient(180deg, $white $spacer*2, $color $spacer*2);
}

/* 
 *  Global for card references
 */ 
.reference-card {
  margin: $spacer*4 0;

  // content wrapper
  &__content {
    background-color: $white;
    padding: $spacer $spacer*2;
    margin-left: $spacer*2;
    margin-top: -$spacer*4;
    position: relative;
    z-index: 150;

    // override for Blog
    &--blog,
    &--story {
      margin: 0 0 0 $spacer*(-2);
      background-color: $blue;
      color: $white;
      border-bottom: solid $spacer*2 $shale-blue;
      border-right: solid $spacer*2 $shale-blue;
    }
  }

  // title
  .heading {
    margin-bottom: 0;
    margin-top: 0;
    color: inherit;

    a {
      color: inherit;
    }
  }

  // meta (date, authors, news source)
  &__meta {
    font-family: $font-sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }    

  // News reference card modifier
  &__news,
  &__story {
    @include offsetBackground($shale-blue);
    padding: 0 $spacer*2 $spacer*2 0;
  }

  // Blog reference card modifier
  &__blog,
  &__story {
    @include offsetBackground($blue);
    padding: 0 0 0 $spacer*2;
  }  

}
