.event-card {
  padding: $spacer;
  border: solid 4px $light-gray;
  margin-top: 3rem;
}

.event-card__status {
  color: $orange;
  font-style: italic;
  margin-bottom: 0;
  padding-bottom: 0;
}

.event-card__date,
.date__date-cardview {
  background-color: $blue;
  padding: $spacer*0.6 $spacer*0.8;
  color: $white;
  display: block;
  max-width: 4rem;
  text-align: center;
  margin-top: -3rem;
  margin-bottom: $spacer;
}

.event-card__date-month,
.date__date-cardview-month {
  font-family: $font-sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  display: block;
  line-height: 1.2;
}

.event-card__date-day,
.date__date-cardview-day {
  font-family: $font-serif;
  font-size: 1.3rem;
  display: block;
  line-height: 1.2;
}

.event-card__time,
.event-card__location {
  font-family: $font-sans-serif;
  color: $dark-gray;
}