@mixin button-style($button-color) {
  border: 1px solid $button-color;
  background: $button-color;
}

.button {
  border-radius: 0;
  color: $dark-blue;
  background-color: $white;
  margin: $spacer 0;
  padding: $spacer*0.5 $spacer*1.3;
  border: 4px solid $shale-blue;
  display: inline-block;

  &:hover {
    background-color: $shale-blue;
    color: $white;
    text-decoration: none;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
  }
  
  // &[disabled] {
  //   background-color: $dark-gray;
  //   border: 4px solid $dark-gray;
  // }
  
  &--cta {
    @include button-style($orange);
  }
  
  &--footer {
    @include button-style($shale-blue);
  }

  &--plain {
    padding: 0;
    border: none;
    background-color: transparent;

    &:hover {
      background-color: transparent;
      text-decoration: none;
      box-shadow: none;
    }
  }

  &--white { 
    color: $white;
    &:hover {
      color: $shale-blue;
    }
  }

  &--blue { 
    color: $shale-blue;
    &:hover {
      color: $blue;
    }    
  }  
 
  &__text {
    font-family: $font-sans-serif;
    font-size: 1rem;  
    font-weight: 700;
    letter-spacing: 0.96px;
    text-transform: uppercase;
  }
  
  &__text + &__icon,
  &__icon + &__text {
    margin-left: 0.8rem; 
  }
  
  &__icon {
    position: relative;
    bottom: 2px;
    font-size: 26px;
    transform: rotate(180deg);
  }
}