.iconcard {
  max-width: 100%;
  height: 100%;
  text-align: center;

  @include media-breakpoint-up(sm) { 
    max-width: 288px;
  }

  &__content {
    padding: $spacer*1.5;
  }

  // &__heading {
  //   color: $white;
  // }

  // &__link {
  //   color: $white;
  // }

  &__image {
  	width: 100%;
    padding: 0 20%;

    .image {
      display: block; 
      width: 100%; 
      max-width: 100%;
    }
  }
}
