.profile {
  &__address span {
    display: block;
  }

  &__related-content-item {
    border-bottom: solid 1px $light-gray;
    padding: $spacer*2 0;
  }
}

.profile-teaser {
  margin-bottom: $spacer*2;
  font-family: $font-sans-serif;

  &__name {
    margin-bottom: 0;
    margin-top: $spacer;

    a {
      color: $shale-blue;
      font-size: 1.1rem;
      font-weight: 600;
    }
  } 
}  