header {
  color: $white;
  background-color: $blue;

  .headersearch {
    flex-grow: 2;
  }

  .utility_section {
    background: #f3f2f1;
    color: #666;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  .header_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 3%;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 500;
  }

  .site_branding {
    color: $yellow;
    text-decoration: none;

    .duke-logo {
      display: grid;
      grid-template-columns: 35% 65%;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 25px;
    }

    .header__logo {
      grid-row-start: 1;
      grid-row-end: span 2;
      align-self: center;
    }

    .header__sitename {
      color: $yellow;
      font-family: $font-sans-serif;
      font-weight: 600;
      font-size: 22px;
      line-height: 24px;

      &:first-of-type {
        font-size: 13px;
        display: block;
        align-self: end;
        line-height: 16px;
      }

      &:last-of-type {
        grid-column-start: 2;
        align-self: start;
      }
    }

    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }
}
  