.imagecard {
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.5);
  border-bottom: none;
  border-top: solid 8px $blue;
  height: 100%;

  &__content {
    padding: $spacer*1.5;
    background-color: $blue;
    color: $white;
    height: 100%;
  }

  &__heading {
    color: $white;
  }

  &__link {
    color: $white;
  }

  &__image {
  	height: 160px;
    max-height: 160px;
	  overflow: hidden; 

    @include media-breakpoint-up(sm) { 
      height: 255px;
      max-height: 255px;
    }

    .image {
      display: block; 
      width: 100%; 
      max-width: 100%;
      height: 100% !important;
      max-height: 100%;

      img {
        position: relative;
      }
    }
  }

  // modifiers
  &--even {
    border-top-color: $shale-blue;
    & .imagecard__content {
      background-color: $shale-blue;
    }
  }
}
