figure {
  &.align-right {
    @extend .float-md-right;
    width: 33.33%;
    margin-left: $spacer;
  }

  &.align-left {
    @extend .float-md-left;
    width: 33.33%;
    margin-right: $spacer;
  }
}
