.callout {
  background-color: $shale-blue;
  display: flex;
  align-items: center;

  &__content {
    background-color: $white;
    width: 45%;
    order: 1;
    padding: $spacer*2;
    margin: $spacer*2;
    z-index: 100;
  }
  
  &__image {
    width: 55%;
    height: 100%;
    align-self: center;
    overflow: hidden;
    .image {
      object-fit: cover;
      flex-shrink:0;
      min-width:100%;
      min-height:100%;
    }
  }

  &__heading {
    font-family: $font-sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    color: $blue;
  }
}