footer {
  background-image: url('../../../images/arch_pattern.svg');
  background-repeat: no-repeat;
  background-position-x: 950px;
  background-position-y: bottom;
  margin-bottom: -10px;

  .site_name {
    font-size: 26px;
    font-weight: 600;

    a {
      color: $yellow;
      text-decoration: none;
    }
  }

  .footer__address {
    position: relative;
    
    span {
      display: block;
    }

    &:before {
      content: '';
      background-image: url('../../../images/location_icon.svg');
      display: block;
      height: 24px;
      width: 24px;
      position: absolute;
      top: 3px;
      left: -34px;
    }

  }

  .footer__email {
    position: relative;

    &:before {
      content: '';
      background-image: url('../../../images/email_icon.svg');
      display: block;
      height: 24px;
      width: 24px;
      position: absolute;
      top: 3px;
      left: -34px;
    }
  }

  .footer__phone {
    position: relative;

    &:before {
      content: '';
      background-image: url('../../../images/phone_icon.svg');
      display: block;
      height: 24px;
      width: 24px;
      position: absolute;
      top: 3px;
      left: -34px;
    }
  }
  
  

  .footermenu {

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-auto-flow: column;

      .nav-item {

        .nav-link {
          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer__cta-primary {
    background-color: $orange;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.28px;

    &:hover {
      background-color: darken($orange, 10%);
    }
  }

  .footer__cta-secondary {
    background-color: $shale-blue;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.28px;

    &:hover {
      background-color: darken($shale-blue, 10%);
    }
  }

  .heading {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
  }

  .footer__social-icons-wrapper {

    a {
      display: inline-block;
      height: 60px;
      width: 60px;
      text-indent: -9999px;
      margin-right: 1.5em;

      &:hover {

      }
    }

    a[href*="facebook"] {
      background: url('../../../images/fb_icon.svg') center center no-repeat;
    }

    a[href*="twitter"] {
      background: url('../../../images/twitter_icon.svg') center center no-repeat;
    }

    a[href*="instagram"] {
      background: url('../../../images/instagram_icon.svg') center center no-repeat;
    }

    a[href*="youtube"] {
      background: url('../../../images/youtube_icon.svg') center center no-repeat;
    }

    a[href*="linkedin"] {
      background: url('../../../images/linkedin_icon.svg') center center no-repeat;
    }
  }

  .separator {
    height: 1px;
    background-color: #314b84;
    border: none;
    margin: 2em 0;
  }

  .footer__copyright-links-wrapper {

    a {
      color: #fff;
      font-size: 14px;
      text-decoration: none;
      margin-right: 2em;

      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}


