.slider {

  .carousel-control-prev, 
  .carousel-control-next {
    opacity: 1;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    padding: $spacer*2;
    background-color: $yellow;
  }

  .carousel-caption {
    background-color: $white;
    color: $dark-gray;
    font-family: $font-sans-serif;
    padding: $spacer;
    bottom: 0;
    font-size: 0.9rem;
    font-weight: 400;
  }

  .carousel-indicators li {
    background-color: $dark-gray;
  }

  .image {
    min-height: 400px;
  }
}

