.utility_menu_wrapper {
   display: flex;
   background: $light-gray;
}

.utilitymenu {
    
    ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;

        li {
            font-family: $font-sans-serif;
            font-size: 14px;
            font-weight: 600;
        
            a {
                color: #005587;
                padding-top: 10px;
                padding-bottom: 10px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
}