/* make the customizations */
$theme-colors: (
        "info": tomato,
        "danger": teal
);

// Duke colors
$blue: #012169;
$dark-blue: #005587;
$shale-blue: #0577B1;
$dark-gray: #464343;
$medium-gray: #666666;
$light-gray: #E5E5E5;
$yellow: #FFD960;
$orange: #C84E00;

// Adjust the grid breakpoints to make the max width wider for desktop
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1300px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1220px
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@300;600&display=swap');

$font-sans-serif: 'Open Sans', Arial, Helvetica, sans-serif;
$font-serif: 'Merriweather', Georgia, serif;

// Spacer override
$spacer: 1.1em;

body {
  font-family: $font-serif;
  line-height: $line-height-base * 1.3;
  color: $dark-gray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans-serif;
  margin-bottom: $spacer*2;
  margin-top: $spacer;
}

h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 72px;
}

h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 56px;
}

h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  text-transform: uppercase;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
}

h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

h6 {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

main {
  margin: $spacer*3 0;

  a {
    color: $shale-blue;
  }
}

footer {
  background-color: $blue;
  color: $white;
  font-family: $font-sans-serif;
  padding: $spacer*3 0;

  a {
    color: $white;
  }
}

.content-block {
  margin: $spacer*3 0;
}

.story-meta {
  font-style: italic;
  margin-bottom: $spacer*2;
}

.story-meta {
  font-style: italic;
  margin-bottom: $spacer*2;
}

span {
  &.dangerText {
    color: #dc3545;
  }

  &.infoText {
    color: #17a2b8;
    font-weight: bold;
  }
}

/**
  * Story
  */
.story-summary {
  font-size: 1.7rem;
  color: $blue;
}  

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

// Teasers
.node-teaser {
  padding: $spacer*2 0;
  border-bottom: solid 1px $light-gray;

  &:last-of-type {
    border-bottom: none;
  }

  &__meta {
    color: $medium-gray;
    font-family: $font-sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: $spacer;

    &--date {
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}