.actionmenu {

    ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;

        li {
            font-family: $font-sans-serif;
            font-size: 14px;
            font-weight: 600;

            a {
                background: $orange;
                color: #fff;
                padding: 10px 40px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}