.heading {
  color: $blue;

  &--label {
    font-family: $font-sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    color: $dark-gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: $spacer*0.5;
  }

  &--hero {
    font-family: $font-sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: $white;
    text-shadow: 0 2px 4px #000000;
    letter-spacing: 1px;
    margin-bottom: $spacer*0.5;
  }   
}  

h3 {
  font-family: $font-sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: $blue;

  &.heading--teaser {
    text-transform: none;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: $spacer*0.5;

    a {
      color: $shale-blue;
    }
  }   
}