.header_menu_wrapper nav {
    font-family: $font-sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: right;

    .nav {
        display: flex; 
        flex-direction: row;
        justify-content: flex-end;
        margin: 0;
        padding: 0;

        .nav-item {
            list-style: none;

            .nav-link {
                display: block;
                color: $white;
                padding: 16px;
                cursor: pointer;
    
                &:hover {
                    color: #fff;
                    background-color: $shale-blue;
                }

                &.dropdown-toggle:after {
                    display: none;
                }
            }
        
            &.dropdown {
                position: initial;
            }   

            .dropdown-menu {
                position: absolute;
                width: 100%;
                top: 123px !important;
                z-index: 200;
                background-color: $shale-blue;
                box-shadow: inset 0 4px 12px 0 rgba(0, 0, 0, 0.4), 0 4px 12px 0 rgba(0, 0, 0, 0.4);
                border: none;
                border-radius: 0px;
                padding: 40px 0;
                transform: none !important;

                h2 {
                    color: $yellow;
                }

                .container {
                    display: flex;
                }

                .dropdown-links {
                    margin-left: 40px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                }

                .dropdown-item {
                    width: auto;
                    border-left: 1px solid $yellow;
                    line-height: 20px;
                    font-weight: 600;
                    padding: 8px 16px;

                    &:hover {
                        background: none;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}